<!DOCTYPE html>
<html>
<head>
    <title>Add a New Café</title>
</head>
<body>
    <h2>Add a New Café</h2>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br>

        <label>Map URL:</label><br>
        <input type="url" name="map_url"><br>

        <label>Image URL:</label><br>
        <input type="url" name="img_url"><br>

        <label>Location:</label><br>
        <input type="text" name="location"><br>

        <label>Has Sockets:</label>
        <input type="checkbox" name="sockets"><br>

        <label>Has Toilet:</label>
        <input type="checkbox" name="toilet"><br>

        <label>Has WiFi:</label>
        <input type="checkbox" name="wifi"><br>

        <label>Can Take Calls:</label>
        <input type="checkbox" name="calls"><br>

        <label>Seats:</label><br>
        <input type="text" name="seats"><br>

        <label>Coffee Price:</label><br>
        <input type="text" name="coffee_price"><br>

        <input type="submit" value="Add Cafe">
    </form>
</body>
</html>